In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import warnings
warnings.filterwarnings('ignore')


df1=pd.read_csv('TSLA.csv')
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-11-16,23.012667,23.713333,23.007999,23.620667,23.620667,108093000
1,2018-11-19,23.756001,24.450001,23.525333,23.564667,23.564667,145633500
2,2018-11-20,22.783333,23.320000,22.236668,23.166000,23.166000,120070500
3,2018-11-21,23.466667,23.540001,22.493334,22.546000,22.546000,70302000
4,2018-11-23,22.290001,22.500000,21.703333,21.722000,21.722000,63039000

In [2]:
df1.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03
mean,165.779521,169.553481,161.701684,165.726407,165.726407,1.338320e+08
std,110.094492,112.489298,107.391088,109.946193,109.946193,8.559685e+07
min,12.073333,12.445333,11.799333,11.931333,11.931333,2.940180e+07
25%,37.616669,38.345333,36.416668,37.369999,37.369999,7.965720e+07
50%,193.720001,198.169998,188.779999,193.809998,193.809998,1.090935e+08
75%,250.050003,254.979996,244.449997,250.973328,250.973328,1.586991e+08
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08

In [9]:
np.round(df1.median(),2)

Open               193.7
High               198.2
Low                188.8
Close              193.8
Adj Close          193.8
Volume       109093500.0
dtype: float64

In [10]:
df1['Date']=pd.to_datetime(df1['Date'])

In [11]:
print("Minimum date value : {}".format(df1['Date'].min()))
print("Maximum date value : {}".format(df1['Date'].max()))

Minimum date value : 2018-11-16 00:00:00
Maximum date value : 2023-11-15 00:00:00

In [12]:
#importing ploting libraries
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
colors = ['#FF9900','#000000']
sns.set(palette=colors, font='Serif', style='white', rc={'axes.facecolor':'whitesmoke', 'figure.facecolor':'whitesmoke'})
sns.palplot(colors, size=2)

ImportError: cannot import name 'cbook' from partially initialized module 'matplotlib' (most likely due to a circular import) (C:\Users\migue\anaconda3\envs\dev\lib\site-packages\matplotlib\__init__.py)

In [ ]:
fig=plt.figure(figsize=(20,8))
ax=sns.lineplot(data=df1, x='Date',y='Open')
ax=sns.lineplot(data=df1, x='Date',y='Close', color=colors[1]);
for s in ['left','right','top','bottom']:
    ax.spines[s].set_visible(False)

plt.title("TESLA Stock value changes since 2010", size=20, weight='bold')

In [ ]:
fig=plt.figure(figsize=(20,8))
ax=sns.lineplot(data=df1, x='Date',y='Volume')
#ax=sns.lineplot(data=df1, x='date',y='close', color=colors[1]);
for s in ['left','right','top','bottom']:
    ax.spines[s].set_visible(False)
plt.title("Tesla Stock volume", size=20, weight='bold')

In [ ]:
#integer columns
fig=plt.figure(figsize=(20,8), tight_layout=True)
plt.suptitle("Analysing the Numeric variables", size=20, weight='bold')
ax=fig.subplot_mosaic("""AB
                         CC
                         DE""")
sns.kdeplot(df1['High'], ax=ax['A'], color=colors[0], fill=True, linewidth=2)
sns.kdeplot(df1['Low'], ax=ax['B'], color=colors[1],fill=True, linewidth=2)
sns.kdeplot(df1['Open'], ax=ax['C'], color=colors[0],fill=True, linewidth=2)
sns.kdeplot(df1['Close'], ax=ax['D'], color=colors[1],fill=True, linewidth=2)
sns.kdeplot(df1['Volume'], ax=ax['E'], color=colors[0],fill=True, linewidth=2)
ax['B'].yaxis.set_visible(False)
ax['E'].yaxis.set_visible(False)
ax['A'].yaxis.label.set_alpha(0.5)
ax['C'].yaxis.label.set_alpha(0.5)
ax['A'].yaxis.label.set_alpha(0.5)
ax['C'].yaxis.label.set_alpha(0.5)
ax['D'].yaxis.label.set_alpha(0.5)
for s in ['left','right','top','bottom']:
    ax['A'].spines[s].set_visible(False)
    ax['B'].spines[s].set_visible(False)
    ax['C'].spines[s].set_visible(False)
    ax['D'].spines[s].set_visible(False)
    ax['E'].spines[s].set_visible(False)

In [ ]:
#integer columns
fig=plt.figure(figsize=(20,8), tight_layout=True)
plt.suptitle("Boxplot the Numeric variables", size=20, weight='bold')
ax=fig.subplot_mosaic("""AB
                         CC
                         DE""")
sns.boxplot(df1['High'], ax=ax['A'], color=colors[0])
sns.boxplot(df1['Low'], ax=ax['B'], color=colors[1])
sns.boxplot(df1['Open'], ax=ax['C'], color=colors[0])
sns.boxplot(df1['Close'], ax=ax['D'], color=colors[1])
sns.boxplot(df1['Volume'], ax=ax['E'], color=colors[1])
ax['B'].yaxis.set_visible(False)
ax['E'].yaxis.set_visible(False)
ax['A'].yaxis.label.set_alpha(0.5)
ax['C'].yaxis.label.set_alpha(0.5)
ax['A'].yaxis.label.set_alpha(0.5)
ax['C'].yaxis.label.set_alpha(0.5)
ax['D'].yaxis.label.set_alpha(0.5)
for s in ['left','right','top','bottom']:
    ax['A'].spines[s].set_visible(False)
    ax['B'].spines[s].set_visible(False)
    ax['C'].spines[s].set_visible(False)
    ax['D'].spines[s].set_visible(False)
    ax['E'].spines[s].set_visible(False)

In [ ]:
# we need to predict the closing price of the stock, lets us consider 'Close' feature as the Target variable. 
sns.pairplot(df1,corner=True)

In [ ]:
df1.corr()['Close']

In [ ]:
df1.info()

In [ ]:
from scipy.stats import shapiro
import matplotlib.pyplot as plt
import seaborn as sns

int_cols = df1.select_dtypes(include=['int', 'float']).columns.to_list()

for i in int_cols:
    _, p_value = shapiro(df1[i])
    if p_value < 0.05:
        print("Feature {} is normally distributed".format(i))
    else:
        print("Feature {} is not normally distributed".format(i))
        
    print("Normality test p-value for feature - {} is {}".format(i, round(p_value, 3)))

In [ ]:
fig=plt.figure(figsize=(15,8))
sns.heatmap(df1.corr(), annot=True, cmap=[colors[0],colors[1]], linecolor='white', linewidth=2 )

In [ ]:
X=df1[['Volume','Open']]
y=df1['Close']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, shuffle=False, random_state=42)

In [ ]:
pip install --upgrade seaborn matplotlib

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn import set_config
model = LinearRegression()
model.fit(X_train,y_train)
set_config(display='diagram')
pred=model.predict(X_test)
sc=np.round(model.score(X_test, y_test),2) * 100
r2=np.round(r2_score(y_test,pred),2)
mse=np.round(mean_squared_error(y_test,pred),2)
mae=np.round(mean_squared_error(y_test,pred),2)

In [ ]:
fig = plt.figure(figsize=(15, 8))
p = pd.Series(pred, index=y_test.index)
plt.plot(y_test)
plt.plot(p)
plt.legend(['y_test', 'predicted'])
plt.title("Compare test and predicted values", size=20, weight='bold')
plt.text(x=800000, y=600, s='Accuracy score : {} %'.format(sc))
plt.text(x=800000, y=580, s='R2 Score : {}'.format(r2))
plt.text(x=800000, y=560, s='Mean Squared error : {}'.format(mse))
plt.text(x=800000, y=540, s='Mean Absolute error : {}'.format(mae))

# Save the figure to a file without displaying it
plt.savefig('plot.png')

# Close the figure to prevent it from being displayed
plt.close()

In [ ]:
X=df1[['Open','High']]
y=df1['Close']
length=100
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle=False, random_state=42)
training_set = X.iloc[:1000].values
test_set = X.iloc[1000:].values
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)
test_set_scaled=sc.transform(test_set)
# Creating a data structure with 60 time-steps and 1 output
X_train = []
y_train = []
for i in range(length, len(training_set)):
    X_train.append(training_set_scaled[i-length:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

X_test = []
y_test = []
for i in range(length, len(test_set)):
    X_test.append(test_set_scaled[i-length:i, 0])
    y_test.append(test_set_scaled[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
model = Sequential()
#Adding the first LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
model.add(Dropout(0.2))
# Adding a second LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a third LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a fourth LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
# Adding the output layer
model.add(Dense(units = 1))

# Compiling the RNN
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
model.fit(X_train, y_train, validation_data=(X_test,y_test),epochs = 100, batch_size = 32)

In [ ]:
loss = pd.DataFrame(model.history.history)
fig=plt.figure(figsize=(15,8))
plt.title("Validation loss Vs Trainiinverse_transformss", size=20, weight='bold')
plt.plot(loss)

In [ ]:
pred=model.predict(X_test)
test=pd.DataFrame(columns=['test','pred'])
test['test']=y_test
test['pred']=pred.flatten()
test

In [ ]:
fig=plt.figure(figsize=(20,8))
plt.title("Test vs Predicted value", size=20, weight='bold')
plt.plot(test)
plt.legend(['test','predict'])
r2=np.round(r2_score(y_test,pred),2)
mse=np.round(mean_squared_error(y_test,pred),2)
mae=np.round(mean_squared_error(y_test,pred),2)
plt.text(x=500, y=1.5,s='R2 Score : {}'.format(r2))
plt.text(x=500, y=1.35,s='Mean Squared error : {}'.format(mse))
plt.text(x=500, y=1.25,s='Mean Absolute error : {}'.format(mae))

In [ ]:
from fbprophet import Prophet
df_p = df1[['date','close']]
df_p.columns=['ds','y']

split_data = df_p.index.max()-100000
train = df_p.loc[df_p.index<=split_data].copy()
test=df_p.loc[df_p.index>split_data].copy()
train.set_index('ds',inplace=True)
test.set_index('ds',inplace=True)
train.reset_index(inplace=True)
test.reset_index(inplace=True)

#Model creation
model=Prophet()
model.fit(train)

#model prediction
pred=model.predict(test)

In [ ]:
!pip install cython

!pip install pystan==2.19.1.1
!pip install fbprophet

In [ ]:
test_pred=pd.DataFrame(columns=['ds','test','predict','pred_lower','pred_high'], index=test.index)
test_pred['test']=test['y']
test_pred['ds']=test['ds']
test_pred['predict']=pred['yhat']
test_pred['pred_lower']=pred['yhat_lower']
test_pred['pred_high']=pred['yhat_upper']